@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:100,100i,200,200i,400,400i,500,500i,600,600i");

$family-sans-serif: "FiraGO", sans-serif;

$weight-light: 100;
$weight-normal: 200;
$weight-medium: 400;
$weight-semibold: 500;
$weight-bold: 600;
