.linkedin-link {
    &__logo.image {
        display: inline-block;
        top: 2px;
    }

    &__background {
        position: absolute;
        width: 80%;
        height:80%;
        background-color: white;
    }
}