.linkedin-link {
    display: inline-flex;
    align-items: center;

    &__logo.image {
        position: relative;
        top: 2px;
        margin: {
            left: 2px;
            right: 2px;
        }
    }

    &__background {
        position: absolute;
        width: 80%;
        height:80%;
        background-color: white;
    }
}